data
4DFlowNet
4DFlowNet_MCD
4DFlowNet_DE
4DFlowNet_AL/result/
4DFlowNet_AL/models/
4DFlowNet_AL/outputfiles/
4DFlowNet_AL/src/metrics
4DFlowNet_AL/src/trainer_AL1.py
4DFlowNet_AL/src/visualize_patch.py
4DFlowNet_AL/src/most_unc_AL1.py
4DFlowNet_AL/src/extract_csv.py
4DFlowNet_AL/src/compute_uncertainty_csv.py
4DFlowNet_AL/src/predictor_groups.py
4DFlowNet_AL/src/predictor_loops_network.py
sr3d_results.h5
torch_2.2.1-gpu.sif
tensorflow_2.6.1-gpu.sif
tf_with_tb.sif
4DFlowNet_DE/aorta_result_DE_vtk.vti
terminal_command.txt
job.sbatch
job_MCD.sbatch
job_DE.sbatch
job_AL2.sbatch
job_AL_hist.sbatch
h5_to_vtk.py
vti_files
*__pycache__/